OptionsWidget {
    background-color: white;
}

OptionsWidget QPushButton {
    padding: 10px;
    background-color: white;
    border: none;
    margin: 10px 5px 5px 10px;
}

OptionsWidget QPushButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

OptionsWidget QPushButton:pressed {
    background-color: rgba(0, 0, 0, 0.2);
}
